<header class="cabecera">
    <picture class="logo">
        <source
            srcset="./assets/images/logo.png?as=webp&width=350"
            type="image/webp"
        />
        <img
            src="./assets/images/logo.png?width=350"
            alt="Universitat Oberta de Catalunya"
            class="uoc-logo"
        />
    </picture>
    <ul>
        <li><a href="#ficha" class="enlace">Ficha técnica</a></li>
        <li><a href="#historia" class="enlace">Historia</a></li>
        <li><a href="#curiosidades" class="enlace">Curiosidades</a></li>
        <li><a href="#galeria" class="enlace">Galería de imágenes</a></li>
        <li><a href="#enlaces" class="enlace">Enlaces relacionados</a></li>
    </ul>
</header>
