<header class="cabecera">
  <picture class="logo">
    <source
      srcset="./assets/images/logo.png?as=webp&width=350"
      type="image/webp"
    />
    <img
      src="./assets/images/logo.png?width=350"
      alt="Universitat Oberta de Catalunya"
      class="uoc-logo"
    />
  </picture>
  <ul class="enlaces">
    <li><a href="#ficha" class="enlace-cabecera">Ficha técnica</a></li>
    <li><a href="#historia" class="enlace-cabecera">Historia</a></li>
    <li><a href="#curiosidades" class="enlace-cabecera">Curiosidades</a></li>
    <li><a href="#galeria" class="enlace-cabecera">Galería</a></li>
    <li><a href="#enlaces" class="enlace-cabecera">Enlaces</a></li>
  </ul>
</header>
