<main class="uoc-container">
    <h3>Monumentos y lugares de interés:</h3>
    <h1 class="uoc-title"><span></span>El Ángel Caído</h1>
    <figure class="figura">
        <img src="./assets/images/angel-caido-00.png" class="imagen" />
        <figure-caption class="subtitulo"
            >Fuente: Ayto. de Madrid</figure-caption
        >
    </figure>

    <section id="ficha">
        <h2>Ficha técnica</h2>
        <ul class="ficha">
            <li class="dato"><span class="etiqueta">Año:</span>1877</li>
            <li class="dato">
                <span class="etiqueta">Escultor:</span>Ricardo Bellver
            </li>
            <li class="dato">
                <span class="etiqueta">Arquitecto:</span>Francisco Jareño y
                Alarcón
            </li>
            <li class="dato">
                <span class="etiqueta">Ubicación actual:</span>Parque del Buen
                Retiro, Madrid
            </li>
            <li class="dato">
                <span class="etiqueta">Dimensiones:</span>
                <ul class="dimensiones">
                    <li>De la estatua: 1,35m x 1,35m x 2,65m</li>
                    <li>Con el pedestal: 2,00m x 2,00m x 7,00m</li>
                    <li>Conjunto de la fuente: 10,00m x 10,00m x 7,00m</li>
                </ul>
            </li>
            <li class="dato">
                <span class="etiqueta">Material:</span>La estatua está fundida
                en bronce, mientras que el pedestal está fabricado en ladrillo
                enfoscado y granito, y en bronce las cabezas y lagartos que lo
                decoran.
            </li>
        </ul>
    </section>
    <section id="historia">
        <h2>Historia</h2>

        <p>
            En el año 1877 el escultor madrileño Ricardo Bellver, durante su
            tercer año como pensionado en la Academia Española de Bellas Artes
            de Roma, realizó en yeso la obra El Ángel Caído, con la que ganó un
            año después la Medalla de Primera Clase en la Exposición Nacional de
            Bellas Artes celebrada en Madrid.
        </p>
        <p>
            La fama de la obra llegó a oídos de la Real Academia de Bellas Artes
            de San Fernando que la adquirió por 4.500 pesetas con la intención
            de enviarla a París con motivo de la Exposición Universal de 1878.
            Dado que en ella sólo se admitían esculturas de mármol o bronce, el
            rey Alfonso XII decidió costear los gastos de su reproducción en
            bronce, llevándose a cabo su fundición en París por la casa
            Thiebaut-Fits.
        </p>
        <p>
            Tras la exposición la obra pasó a formar parte de la colección del
            Museo Nacional. En 1879 su director, Benito Soriano Murillo, sugirió
            exponer la obra al aire libre, lo que desembocó en el traspaso como
            regalo de la escultura al Ayuntamiento de Madrid bajo la condición
            de que se situara en un pedestal lo bastante digno para su
            categoría. El encargo del diseño lo recibió el arquitecto Francisco
            Jareño, quien lo realizó adoptando la estructura de una fuente con
            un amplio pilón.
        </p>
        <p>
            El monumento tal y como lo conocemos aún hoy en día fue inaugurado
            en 1885, pocos meses después de la muerte del monarca.
        </p>
    </section>
    <section id="descripcion">
        <h2>Descripción</h2>
        <p>
            El conjunto tiene unas dimensiones aproximadas de 10 metros de
            largo, 10 de ancho y 7 de alto. La escultura de Bellver mide 2,65
            metros de alto.
        </p>
        <p>
            La fuente está rodeada por un parterre circular de boj. El extenso
            pilón sobre el que cae el agua es de granito y tiene forma ochavada.
            En el centro, se alza el pedestal. Su base de granito, a modo de
            talud, tiene forma de pirámide truncada, de planta octogonal, y en
            cada uno de sus lados figura una carátula de bronce. Estas carátulas
            representan a diablos que sujetan con sus manos lagartos, sierpes y
            delfines, y en cada una de ellas hay tres surtidores de los que mana
            el agua. Sobre dicha base se sitúan otros dos cuerpos también
            troncopiramidales, pero con menor inclinación. Y a continuación un
            tercer cuerpo, de mucha menor altura y compuesto por tres escalones
            de planta circular, sobre el que descansa la escultura principal que
            remata el monumento.
        </p>
        <p>
            El Ángel Caído, con las alas desplegadas y contorsionado, se apoya
            sobre unas rocas (que sirven de base), mientras una gran serpiente
            se enrosca alrededor de su cuerpo.
        </p>
    </section>
    <section id="curiosidades">
        <h2>Curiosidades</h2>
        <p>
            Es fácil leer o escuchar que el Ángel Caído de Madrid es el único
            monumento homenaje al Diablo en el mundo, aunque en realidad sí
            existen otros como la escultura a Lucifer en la cima del Monumento
            al Traforo del Frejus en Turín, la obra El poder brutal en Tandapi,
            Quito, o la Estatua del Ángel Rebelde en el Capìtolio Nacional de La
            Habana, así como una buena cantidad de esculturas, aunque cabría
            cuestionar si éstas podrían llamarse monumento o no. Sí parece más
            plausible afirmar que es el único monumento que representa al ángel
            en el momento de su caída tras la pérdida del favor divino.
        </p>
        <p>
            Otra curiosidad es la altitud a la que se encuentra el monumento en
            cuestión, a 666 metros sobre el nivel del mar, coincidiendo con el
            número asociado con Satanás. Sin embargo, la altitud media de Madrid
            es de 667 metros, lo cual hace que la ubicación exacta del monumento
            pierda cierta relevancia. No obstante esto no ha restado interés a
            los más curiosos seguidores del diablo, llegándose incluso a
            realizar en el pasado aquelarres y otros ritos por algunas sectas
            satánicas en torno al monumento, el cual consideraban una puerta al
            infierno, actividad que se redujo considerablemente tras
            establecerse el cierre del parque durante la noche.
        </p>
    </section>
    <section id="galeria">
        <h2>Galería de imágenes</h2>
        <div class="splide" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img
                            src="./assets/images/angel-caido-01.jpg"
                            class="imagen-carousel"
                        />
                    </li>
                    <li class="splide__slide">
                        <img
                            src="./assets/images/angel-caido-02.jpg"
                            class="imagen-carousel"
                        />
                    </li>
                    <li class="splide__slide">
                        <img
                            src="./assets/images/angel-caido-03.jpg"
                            class="imagen-carousel"
                        />
                    </li>
                    <li class="splide__slide">
                        <img
                            src="./assets/images/angel-caido-04.jpg"
                            class="imagen-carousel"
                        />
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="enlaces">
        <h2>Enlaces relacionados</h2>
        <ul class="enlaces-interes">
            <li><a href="" class="enlace">Enlace de interes #1</a></li>
            <li><a href="" class="enlace">Enlace de interes #2</a></li>
            <li><a href="" class="enlace">Enlace de interes #3</a></li>
            <li><a href="" class="enlace">Enlace de interes #4</a></li>
            <li><a href="" class="enlace">Enlace de interes #5</a></li>
        </ul>
    </section>
</main>
